# 1c
ONEC_HOST='http://72.56.234.174/unf/'
ONEC_CONF_USER='Абдулов (директор)'
ONEC_CONF_PASSWORD=''

# yandex_cloud
OAUTH_TOKEN=''
FOLDER_ID=''
FILE_TOKEN='v8mXuhhBWBDCZXBB7RzAErpPQqg6JmDE'
VECTOR_STORE_TOKEN='ECvPIPtatoUkI3aqzhjJfugQHHEsBTLu'
MODEL='yandexgpt-5-lite/latest'
BASE_URL='https://ai.api.cloud.yandex.net/v1'

# bitrix
WEBHOOK=''
BOT_TOKEN='35hA1zQcy7WnFOnppoXTIfbiuPdURkMq'
BOT_NAME='Помощник по данным 1С:УНФ'
BOT_CODE='onec_unf_support_bot'
BOT_WORK_POSITION='AI Assistant'