# 1c
ONEC_HOST='http://5.23.55.151'
ONEC_CONF_USER='Абдулов (директор)'
ONEC_CONF_PASSWORD=''

# yandex_cloud
OAUTH_TOKEN=''
IAM_TOKEN=''
FOLDER_ID='b1gmaa1br4uvqt70ct2k'
FILE_ID='fvtvl9l7k2dv2rganpuu'
VECTOR_STORE_ID='fvto1qnuu8srrhvmtsln'
MODEL='yandexgpt-5-lite/latest'
PATH_TO_CHUNKS='data/chunks.jsonl'
BASE_URL='https://ai.api.cloud.yandex.net/v1'