# 1c
ONEC_HOST='http://72.56.234.174/unf/'
ONEC_CONF_USER=''
ONEC_CONF_PASSWORD=''

# yandex_cloud
OAUTH_TOKEN=''
IAM_TOKEN=''
FOLDER_ID=''
FILE_ID='fvtie06kbf5d225ljass'
VECTOR_STORE_ID='fvtqtodmc7vrdjnkeg7g'
MODEL='yandexgpt-5-lite/latest'
PATH_TO_CHUNKS='./data/chunks.jsonl'
BASE_URL='https://ai.api.cloud.yandex.net/v1'

# bitrix
WEBHOOK='Помощник по данным 1С:УНФ'
BOT_TOKEN=''
BOT_NAME='Помощник по данным 1С:УНФ'
BOT_CODE='onec_unf_support_bot'
BOT_WORK_POSITION='AI Assistant'
BOT_ID=''